//
   Created by yuzaizai on 2016/11/7.
extends ../userLayout
block head
block content
    input(name="mapId",id="mapId", type="hidden" ,value='#{mapId}')
    input(name="organName",id="organName", type="hidden" ,value='#{organName}')
    input(name="appName",id="appName", type="hidden" ,value='#{appName}')
    .network-content
        .content-left
            label.btn-success 业务角色
            form(method="POST", action="busiRole", id="editBusiRoleForm")
                table.table.table-hover.table-bordered(id="editRoleTable")
                    thead
                        tr
                            th 业务角色名
                    tbody
                        each busiRole in busiRoles
                            tr(class="item-id-#{busiRole._id}")
                                td: button.button-glow.button-border.button-rounded.button-primary(name="busiRole",data-id="#{busiRole._id}",type="button",value="#{busiRole.name}",id="#{busiRole._id}") #{busiRole.name}
            label.btn-success 组织职位
            label.strong.h4 映射维度选择
            select#mapscope
                option(selected='selected',value='position') 组织职位
                option(value='department') 组织部门
                option(value='role') 组织角色
            form(method="POST", action="organPos" ,id="editOrganPosForm")
                table.table.table-hover.table-bordered(id="editPosTable",type="hidden")
                    thead
                        tr
                            th 组织职位名
                            th 所属部门
                            th 所属角色
                    tbody
                        each position in organPos
                            tr(class="item-id-#{position._id}")
                               td: button.button-glow.button-border.button-rounded.button-primary(name="organPos",data-id="#{position._id}",type="button",value="#{position.posName}",id="#{position._id}") #{position.posName}
                               td(id="dep#{position._id}")  #{position.depName}
                               td(id="role#{position._id}")  #{position.roleName}
    script(type='text/javascript',charset='UTF-8',src='/js/EditRoleMapping.js')
