//
   Created by yuzaizai on 2016/12/19.

extends  ../userLayout

block content
   .container
      .row
         form(method="POST", action="",id="getCollabUserForm")
            table
               tr
                  td: .font &nbsp;&nbsp;&nbsp;获取协作用户URI: &nbsp;
                  if user.collabUserUri
                     td(width="300px"): input#collabUserUri.form-control(name="user[collabUserUri]", type="text",value="#{user.collabUserUri}")
                  else
                     td(width="300px"): input#collabUserUri.form-control(name="user[collabUserUri]", type="text",value="")
                  td: button.btn.btn-default(type="button", onclick="location.href='/map/userMappings'" ) 返回
                  td: button.btn.btn-success(type="button",onclick="registerCollabUser();") 获取用户
                  if user.collabUserUri
                     td: button.btn.btn-warning(type = "button", onclick="updateCollabUserList();") 刷新
      if addedCollabUser
         table.table.table-hover.table-bordered(id="showCollabUserTable")
            thead
               tr
                  th 员工Id
                  th 员工名称
            tbody
               each user in addedCollabUser
                  tr
                     td #{user.empId}
                     td #{user.name}
      if empList
         form(method="POST", action="",id="registerCollabUserForm")
            table.table.table-hover.table-bordered(id="registerCollabUserTable")
               thead
                  tr
                     th: input.form-control(type="checkbox",id="checkAll",onclick="selectAll();",value='0')
                     th 员工名称
                     th 职位名称
                     th 所属部门
               tbody
                  each emp in empList
                     tr
                        td: input.form-control(name="subCheck",type="checkbox", checked, value="#{JSON.stringify(emp)}")
                        td(rowspan=1) #{emp.name}
                        td #{emp.posName}
                        td #{emp.depName}
                        //script.
                        //   emp.position.splice(0,1);
                        //each pos in emp.position
                        //   tr
                        //      td
                        //      td
                        //      td #{pos.posName}
                        //      td #{pos.depName}
         .modal-footer
            button.button-glow.button-border.button-rounded.button-primary(type="button",value="",id="",onclick="submitForm();") 提交
            button.button-glow.button-border.button-rounded.button-action(type="button",onclick="location.href='/map/userMappings'" ) 返回
   script(type='text/javascript',charset='UTF-8',src='/js/showCollaboration.js')